<h1>Device {{name}}</h1>
<p></p>
<p><strong>Make:</strong> {{make}}</p>
<p><strong>Type:</strong> {{type}}</p>
<p><strong>IMEI:</strong> {{imei}}</p>
{{#link-to 'device.edit' model}}Change{{/link-to}}
