<h1>Users</h1>

<ul>
 {{#each model}}
    <li>
        {{#link-to 'user' this}}{{this.name}} {{this.email}}{{/link-to}}
        <ul>
            {{#each devices}}
                {{this.id}}
            {{/each}}
        </ul>
    </li>
  {{/each}}
</ul>

{{outlet}}
